/* Common----------------------------------------------------------------- */
* {
    padding: 0;
    margin: 0;
}
a:hover, a:link {
    text-decoration: none;
}
body {
    background-color: gainsboro;
    background-image: url(../img/fondo.png) !important;
    background-repeat: repeat;
    font-family: 'Source Sans Pro', sans-serif;

}
/* End Common------------------------------------------------------------- */


/* Banner -----------------------------------------------------------------*/

.banner {
    position: fixed;
    width: 100%;
    z-index: 100;
    font-family: 'Source Sans Pro',sans-serif;
}

/*Banner Header */
.banner > header {
    height: 124px;
    background: white center;
    background-image: url('../img/banner1.jpg');
    background-repeat: no-repeat;
}
.banner > header .logo{
    padding: 15px 10px 10px 155px;
    
}


.banner > header .busquedaMain {
    width: 20%;
    position: relative;
    top: -45px;
    left: 67.40%;
}

.banner > header .busquedaMain .input-group {
    border: 1px solid #9C1E3D;
    box-shadow: 0;
    border-radius: 6px; 
}

.banner > header .busquedaMain .input-group input, 
.banner > header  .busquedaMain .input-group button {
    border: none;
    color: #9C1E3D;
    background-color: rgb(245, 218, 225); 
}


/*Banner Nav */
.banner > nav {
    height: 43px;
    background-color: #9C1E3D;
    box-shadow: 0px 1px 2px 1px rgb(87, 12, 30);
}
.banner > nav > .main-menu  {
    text-align: center;
    list-style: none;
}
.banner > nav > .main-menu > li{
    display: inline-block;
    line-height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    border-top: 4px solid #9C1E3D;
}
.banner > nav > .main-menu > li > div > a {
    color: white;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.1ex;
    padding: 10px;
}
.banner > nav > .main-menu > li > div > a:hover {
    background: #fff;
    border-top: 5px solid #B29200;
    cursor: pointer;
    color: #B29200;
    box-shadow: 0px 1px 0px rgb(255, 255, 255);
}
.banner > nav > .main-menu > li > div > a {
    transition: all 0.5s;
}
/* End Banner -----------------------------------------------------------------*/

/*Dropdown Menu ---------------------------------------------------------------*/
.dropdown-menu {
    border-radius: 0px;
    box-shadow: 0px 0px 0px 0px !important;
    position: absolute;
    top: 37px;
    left: -1px;
    background-color: rgb(241, 244, 247);
    width: 250px;
 }
.dropdown-menu  .dropdown-item{
     display: block !important;
     color: rgb(108, 123, 132);
     padding-left: 5px;
     padding-right: 5px;
     font-size: .9em;
     line-height: 1.3em;
     padding: 8px 10px;
    }
.dropdown-menu .dropdown-item:hover{
     background-color: #6C7B84;
     color: white;
}

.dropdown-menu .dropdown-item {
    transition: all 0.3s;
}
/*End Dropdown Menu -----------------------------------------------------------*/



/* Main Content ---------------------------------------------------------------*/
.main-content {
    position: relative;
    background-color: white;
    width: 78%;
    margin: auto;
    padding-left: 1.5%;
    padding-right: 1.5%;
    top: 172px;
    bottom: 0px;
    overflow: hidden;
}
/* End Main Content -----------------------------------------------------------*/

/* Section --------------------------------------------------------------------*/
.main-content > section {
   
}

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}


/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}
  
/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    width: 30px;
    height: 30px;
    font-size: 20px !important;
    background-color: darkgray;
    opacity: 0.6;
    padding: 3px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.596);
    z-index: 2500;
}

.carousel-indicators .active {
    background-color: #B29200;
}
/* End Section -----------------------------------------------------------------*/

/*Subsection -------------------------------------------------------------------*/

section > .subseccion > .titulo-subseccion > h4 {
    color: #134d6a;
    border-bottom: 1px solid #B0B0B0;
    padding-bottom: 5px;
    width: 100%;
    margin-bottom: 10px;
    font-weight: 400;
}

section > .subseccion > .contenido-subseccion {
    margin-left: -30px;
}

section > .subseccion > .contenido-subseccion > div{
    margin-bottom: 10px;
    cursor: pointer;
}

section > .subseccion > .contenido-subseccion  p {
    text-align: justify;
}
section > .subseccion .subtitulo-subseccion {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 0.9em;
    margin: 0;
    color: #555;
    text-align: center;
    padding-top: 2px;
}
section > .subseccion  img.img-subseccion {
    background-color: #555;
    height: 140px;
    display: inline-block;
    width: 100%;
    border-radius: 10px;
}

/*Subsection -------------------------------------------------------------------*/

/* Footer ----------------------------------------------------------------------*/

.main-content > footer {
    clear: both;
    font-weight: 600;
    width: 80%;
    margin-left: 10%;
    padding-top: 100px;
 }
 .main-content > footer .footer-logo {
     margin: auto;
     margin-left: 35%;
     padding-bottom: 50px;
}

.main-content > footer h4 {    
    font-size: 12px;
    color: #555;
    font-weight: 600;
   
}

.main-content > footer a {
    color: #999;
    display: block;
    font-size: 11px;
    line-height: 2.5;
}

.main-content > footer a:hover {
    cursor: pointer;
    color: rgb(54, 53, 53);
}
 /* End Footer -----------------------------------------------------------------*/