
#descripcion{
	border: 1px solid red;
}
#pieMemoria{
	position: relative;
    background: #454545;
    padding: 1em 0.2em 1em 0.2em;
    text-align: center;
    
}
#recuadros{
	border: 4px solid blue;
}
