
/*Subsection -------------------------------------------------------------------*/

section > .subseccion > .titulo-subseccion h4, section > .subseccion  h4 {
    color: #134d6a;
    border-bottom: 1px solid #B0B0B0;
    padding-bottom: 5px;
    width: 100%;
    margin-bottom: 10px;
    font-weight: 400;
}

section > .subseccion > .contenido-subseccion {
    margin-left: -30px;
}

section > .subseccion > .contenido-subseccion > div{
    margin-bottom: 10px;
    cursor: pointer;
}

.banner > header .titulo{
    float: left;
    padding-right: 150px;
    padding-top: 25px;
}

section > .subseccion > .contenido-subseccion  p {
    text-align: justify;
}

section > .subseccion .subtitulo-subseccion {
    font-weight: 600;
    font-size: 1.1em;
    margin: 0;
    color: #555;
    text-align: center;
    padding-top: 2px;
}

section > .subseccion  img.img-subseccion{
    background-color: #555;
    height: 300px;
    display: inline-block;
    width: 214px;
    border-radius: 10px;
}

section > .subseccion .ul-subsection li{
   color: #B29200;
   font-size: 1em;
   line-height: 1.5em;
}

/*Subsection -------------------------------------------------------------------*/

.Redes{
    float: bottom;
    padding-left: 60px;
    padding-top: 10px;
}

.activo{
     background: #fff;
    border-top: 5px solid #B29200;
    cursor: pointer;
    color: #B29200 !important;
    box-shadow: 0px 1px 0px rgb(255, 255, 255);
}

.activo a{
    color: #B29200 !important;
}

#pieMemoria{
	position: relative;
    border-top: 0.5px solid #555;
    padding: 1em 0.2em 1em 0.2em;
    text-align: center;
    color: #555;
    width: 100%;
    margin-left: 0%;
}

#pieMemoria a{
    font-size: 13px;
}

#pie{
    border-top: 0.5px solid #555;
    padding-top: 10px;
    color: #555;

}

#pie ul{
    text-align: center !important;
}

footer ul{
    list-style: none;
    text-align: left;
}

#lolo{
    margin: auto;
}

#lolo > div{
    display: inline-block;
}
