/* Common----------------------------------------------------------------- */
* {
    padding: 0;
    margin: 0;
    list-style: none;
}
a:hover, a:link {
    text-decoration: none;
}
body {
    background-color: gainsboro;
    background-image: url(../img/fondo.png) !important;
    background-repeat: repeat;
    font-family: 'Source Sans Pro', sans-serif;

}
span{
    display: inline-block;
}
/* End Common------------------------------------------------------------- */


/* Banner -----------------------------------------------------------------*/

.banner {
    position: fixed;
    width: 100%;
    z-index: 100;
    font-family: 'Source Sans Pro',sans-serif;
}

/*Banner Header */
.banner > header {
    height: 124px;
    /*background: white center;
    background-image: url('../img/cong2.jpg');*/
    background-repeat: no-repeat;
    background-color: #d8dbdb !important;
}
.banner > header .logo{
    padding: 15px 10px 10px 155px;

}

.banner > header .titulo{
    float: left;
    padding-right: 150px;
    padding-top: 25px;
}

.banner > header .busquedaMain {
    width: 20%;
    position: relative;
    top: -45px;
    left: 67.40%;
}
.banner > header .busquedaMain .input-group {
    border: 1px solid #474143;
    box-shadow: 0;
    border-radius: 6px;
}
.banner > header .busquedaMain .input-group input,
.banner > header  .busquedaMain .input-group button {
    border: none;
    color: #474143;
    background-color: #d8dbdb;
}
/*Banner Nav */
.banner > nav {
    height: 43px;
    background-color: #9C1E3D;
    box-shadow: 0px 1px 2px 1px rgb(87, 12, 30);
}
.banner > nav > .main-menu  {
    text-align: center;
    list-style: none;
}
.banner > nav > .main-menu > li{
    display: inline-block;
    line-height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    border-top: 4px solid #9C1E3D;
}
.banner > nav > .main-menu > li > div > a {
    color: white;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.1ex;
    padding: 10px;
}
.banner > nav > .main-menu > li > div > a:hover,
.banner > nav > .main-menu > li > div > a.selected{
    background: #fff;
    border-top: 5px solid #B29200;
    cursor: pointer;
    color: #B29200;
    box-shadow: 0px 1px 0px rgb(255, 255, 255);
}
.banner > nav > .main-menu > li > div > a {
    transition: all 0.5s;
}

/* End Banner -----------------------------------------------------------------*/

/*Dropdown Menu ---------------------------------------------------------------*/
.dropdown-menu {
    border-radius: 0px;
    box-shadow: 0px 0px 0px 0px !important;
    position: absolute;
    top: 37px;
    left: -1px;
    background-color: rgb(241, 244, 247);
    width: 250px;
 }
.dropdown-menu  .dropdown-item{
     display: block !important;
     color: rgb(108, 123, 132);
     padding-left: 5px;
     padding-right: 5px;
     font-size: .9em;
     line-height: 1.3em;
     padding: 8px 10px;
    }
.dropdown-menu .dropdown-item:hover{
     background-color: #B29200;
     color: white;
}

.dropdown-menu .dropdown-item {
    transition: all 0.3s;
}
/*End Dropdown Menu -----------------------------------------------------------*/



/* Main Content ---------------------------------------------------------------*/
.main-content {
    position: relative;
    background-color: white;
    width: 78%;
    margin: auto;
    padding-left: 1.5%;
    padding-right: 1.5%;
    top: 172px;
    bottom: 0px;
    overflow: hidden;
}
/* End Main Content -----------------------------------------------------------*/

/* Footer ----------------------------------------------------------------------*/

.main-content > footer {
    clear: both;
    font-weight: 600;
    width: 80%;
    margin-left: 10%;
    padding-top: 100px;
 }
 .main-content > footer .footer-logo {
     margin: auto;
     margin-left: 35%;
     padding-bottom: 50px;
}

.main-content > footer h4 {
    font-size: 12px;
    color: #555;
    font-weight: 600;

}

.main-content > footer a {
    color: #999;
    display: block;
    font-size: 11px;
    line-height: 2.5;
}

.main-content > footer a:hover {
    cursor: pointer;
    color: rgb(54, 53, 53);
}
 /* End Footer -----------------------------------------------------------------*/
