<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Congreso de los Diputados</title>
</head>
<body>

    <div class="banner">
        <header>
            <div class="logo hidden-xs">
                <img src="../public/img/cisne.gif" width="80px" height="94px">
            </div>
            
       </header>
        <nav>
            <ul class="main-menu hidden-xs hidden-sm">
                <li>
                            <div class="dropdown">
                                    <a data-toggle="dropdown" href="competencia/competencia.html">Análisis de la competencia</a>
                                     <div class="dropdown-menu">
                                            <a class="dropdown-item" href="competencia/Alemania.html">Alemania</a>
                                            <a class="dropdown-item" href="competencia/Finlandia.html">Finlandia</a>
                                            <a class="dropdown-item" href="competencia/Francia.html">Francia</a>
                                        </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a data-toggle="dropdown">Objetivos</a>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a data-toggle="dropdown">Implementación</a>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                    <a data-toggle="dropdown">Diseño</a>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                    <a data-toggle="dropdown" href="about.html">Nosotros</a>
                            </div>
                        </li>
                </ul>
        </nav>
    </div>
    
    <div class="main-content">
        <section>

            <!-- .subSeccion Historia y Normas de la Institución -->
            <div class="subseccion col-xs-12">
                    <div class="titulo-subseccion row">
                       <h4>Nosotros</h4>
                    </div>
                    <div class="contenido-subseccion row">
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <img class="img-subseccion fotos" src="../public/img/Daniel.jpg" alt="Foto de Daniel Quiñones">
                            <h5 class="subtitulo-subseccion">Daniel Quiñones</h4>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <img class="img-subseccion fotos" src="../public/img/Leila.jpg" alt="Foto de Leila Ruiz">
                            <h5 class="subtitulo-subseccion ">Leila Ruiz</h4>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <img class="img-subseccion fotos" src="../public/img/Victor.jpg" alt="Foto de Víctor del Pino">
                            <h5 class="subtitulo-subseccion">Víctor del Pino</h4>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <img class="img-subseccion fotos" src="../public/img/Jessica.jpg" alt="Foto de Jessica Hernandez">
                            <h5 class="subtitulo-subseccion">Jessica Hernández</h4>
                        </div>
                    </div>
            </div>
            <!-- /.subSeccion Historia y Normas de la Institución -->
        </section>
        <footer>
                <div class="footer-logo">
                    <img src="public/img/log.gif">
                </div>
                <div class="footer-content">
                        <div class="col-xs-3">
                                <h4>Congreso de los Diputados</h4>
                                <a>Plza Cortes No.1-28014-MADRID</a>
                                <a>Aviso Legal</a>
                                <a>Accesibilidad</a>
                             </div>
                             <div class="col-xs-3">
                                 <h4>Información general:</h4>
                                 <a>Tel: 91 390 60 00</a>
                                 <a>Fax: 91 429 87 07</a>
                             </div>
                             <div class="col-xs-3">
                                 <h4>¿Cómo visitar el Congreso?</h4>
                                 <a>Tel: 91 390 65 25 / 26</a>
                                 <a>Fax: 91 390 64 35</a>    
                             </div>
                             <div class="col-xs-3">
                                 <h4>Atención al Ciudadano</h4>
                                 <a>Visitas guiadas de grupos</a>
                                 <a>Consultas por e-mail</a>
                                 <a>Horario de Registro</a>
                             </div>
                </div>
                
        
        </footer>

        
    </div>
    
    



    <!-- Inclusion de librerias utilizadas y ficheros del proyecto-->
    <link rel="stylesheet" href="../public/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/ppal.css">
    <link rel="stylesheet" type="text/css" href="../public/css/Nosotros.css">
    <script src="../public/vendors/jQuery/jQuery.js"></script>
    <script src="../public/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/js/main.js"></script>
    <!-- End Inclusion de librerias utilizadas y ficheros del proyecto-->    
</body>

</html>