<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Congreso de los Diputados</title>
</head>

<body>

    <div class="banner">
        <header>
            <div class="logo col-sm-2 hidden-xs">
                <a href="index.html">
                    <img src="../public/img/cisne.gif" width="80px" height="94px">
                </a>
            </div>
            <div class=" titulo col-sm-2">
                <h1>Nosotros</h1>
            </div>
        </header>
        
        <nav>
            <ul class="main-menu hidden-xs hidden-sm">
                <li>
                    <div class="dropdown">
                        <a data-toggle="dropdown" href="competencia.html">Análisis de la competencia</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="Alemania.html">Alemania</a>
                            <a class="dropdown-item" href="Finlandia.html">Finlandia</a>
                            <a class="dropdown-item" href="Francia.html">Francia</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="Objetivos.html">Objetivos</a>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="Implementacion.html">Implementación</a>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="Diseño.html">Diseño</a>
                    </div>
                </li>
                <li>
                    <div class=" activo">
                        <a href="about.html">Nosotros</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <div class="main-content">
        <section>

            <!-- .subSeccion Historia y Normas de la Institución -->
            <div class="subseccion col-xs-12">
                <div class="titulo-subseccion row">
                    <h4> </h4>
                </div>
                <div class="contenido-subseccion row">
                    <div class="col-xs-6 col-sm-6 col-md-3">
                        <img class="img-subseccion fotos" src="../public/img/Daniel.jpg" alt="Foto de Daniel Quiñones">
                        <h4 class="subtitulo-subseccion"><font color="#B29200">Daniel Quiñones</font></h4>
                        <!-- /.redes -->
                            <div class="Redes Sociales" id="Redes">
                                <div class="col-xs-6 col-sm-6 col-md-3">
                                    <a href="https://github.com/ronalkinho" target="_blank">
                                        <img src="../public/img/github.png">
                                    </a>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-3">
                                    <a href="https://twitter.com/DanielQuiones6" target="_blank">
                                        <img src="../public/img/twitter.png">
                                    </a>
                                </div>
                            </div>
                        <!-- /.redes -->
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3">
                        <img class="img-subseccion fotos" src="../public/img/Leila.jpg" alt="Foto de Leila Ruiz">
                        <h4 class="subtitulo-subseccion"><font color="#B29200">Leila Ruiz</font></h4>
                        <!-- /.redes -->
                            <div class="Redes Sociales" id="Redes">
                                <div class="col-xs-6 col-sm-6 col-md-3">
                                    <a href="https://es.linkedin.com/in/leila-ruiz-casanova-122647112" target="_blank">
                                        <img src="../public/img/linkedin.png">
                                    </a>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-3">
                                    <a href="https://www.instagram.com/leila_ruiz96/" target="_blank">
                                        <img src="../public/img/instagram.png">
                                    </a>
                                </div>
                            </div>
                        <!-- /.redes -->
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3">
                        <img class="img-subseccion fotos" src="../public/img/Victor.jpg" alt="Foto de Víctor del Pino">
                        <h4 class="subtitulo-subseccion"><font color="#B29200">Victor del Pino</font></h4>
                        <!-- /.redes -->
                            <div class="Redes Sociales" id="Redes">
                                <div class="col-xs-6 col-sm-6 col-md-3">
                                    <a href="https://github.com/victordpc" target="_blank">
                                        <img src="../public/img/github.png">
                                    </a>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-3">
                                    <a href="https://www.linkedin.com/in/victordelpinocastilla/" target="_blank">
                                        <img src="../public/img/linkedin.png">
                                    </a>
                                </div>
                            </div>
                        <!-- /.redes -->
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3">
                        <img class="img-subseccion fotos" src="../public/img/Jessica.jpg" alt="Foto de Jessica Hernandez">
                        <h4 class="subtitulo-subseccion"><font color="#B29200">Jessica Hernández    </font></h4>
                        <!-- /.redes -->
                            <div class="Redes Sociales" id="Redes">
                                <div class="col-xs-6 col-sm-6 col-md-3">
                                    <a href="https://github.com/jhmartinez" target="_blank">
                                        <img src="../public/img/github.png">
                                    </a>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-3">
                                    <a href="https://twitter.com/DanielQuiones6" target="_blank">
                                        <img src="../public/img/twitter.png">
                                    </a>
                                </div>
                            </div>
                        <!-- /.redes -->
                    </div>
                </div>
            </div>
            <!-- /.subSeccion Historia y Normas de la Institución -->
        </section>

        <footer>
        </footer>

    </div>

    <!-- Inclusion de librerias utilizadas y ficheros del proyecto-->
    <link rel="stylesheet" href="../public/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/nosotros.css">
    <link rel="stylesheet" href="../public/css/ppal.css">
    <script src="../public/vendors/jQuery/jQuery.js"></script>
    <script src="../public/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/js/main.js"></script>
    <!-- End Inclusion de librerias utilizadas y ficheros del proyecto-->
</body>

</html>