<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Congreso de los Diputados</title>
</head>

<body>

    <div class="banner">
        <header>
            <div class="logo col-sm-2 hidden-xs">
                <a href="../index.html">
                    <img src="../public/img/cisne.gif" width="80px" height="94px">
                </a>
            </div>
            <div class=" titulo col-sm-2">
                <h1>Alemania</h1>
            </div>
        </header>

        <nav>
            <ul class="main-menu hidden-xs hidden-sm">
                <li>
                    <div class=" activo dropdown">
                        <a href="competencia.html">Análisis de la competencia</a>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="Objetivos.html">Objetivos</a>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="Implementacion.html">Implementación</a>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="Diseño.html">Diseño</a>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="about.html">Nosotros</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <div class="main-content">

        <p class="migas">
            <a href="../index.html">Memoria</a>
            <a href="competencia.html"> > Analisis de la competencia</a>
            > Alemania
        </p>

        <section>
                <div class="col-sm-1"></div>
                <div  class="col-sm-10">
           <!-- <div class="subseccion col-xs-12"> -->
                <a href="https://www.bundestag.de/en/" target="_blank">
                    <img src="../public/img/logoAlemania.jpg" height="120" width="120">
                </a>
                <div class="contenido-subseccion row">
                    <div class="col-xs-12 col-sm-6 col-md-12">

                        <h3>Patrones de diseño</h3>
                        <p>
                            <font color="grey">
                                Su paleta de colores se compone de gris y naranja, tipografía Serifa en los títulos y georgia sin serifa para los textos
                                arial, su espaciado es amplio y sus ángulos rectos. Carece de texturas.
                            </font>
                        </p>

                        <h3>Estética y contenido</h3>
                        <p>
                            <font color="grey">
                                No utiliza
                                <i>deep background</i>, tampoco aplica
                                <i>corner treatments</i> y sí hace uso de
                                <i>hairlines</i>. Como ya hemos dicho sólo hace uso de dos colores.
                            </font>
                        </p>

                        <h3>Navegación</h3>
                        <p>
                            <font color="grey">
                                No hace uso de los patrones de navegación
                                <i>Clear Entry Points</i>ni
                                <i>Sign-in Tools</i>por carecer de formularios. El patrón
                                <i>Scape Hatch</i> es notorio, dispone de
                                <i>Fat Menu</i> y el patrón
                                <i>BreadCrumbs</i> está bien usado. Lo más negativo es su horroroso
                                <i>Sitemap Footer</i>

                            </font>
                        </p>

                        <h3>Disposición del contenido</h3>
                        <p>
                            <font color="grey">

                                <i>Grid of equals</i> empleado en la visualización de los senadores, no se usa
                                <i>acordeon</i> y al carecer de formularios no se estila
                                <i>left-right alignment</i>
                            </font>
                        </p>


                    </div>
                </div>
            </div>
            <!-- /.subSeccion Últimas leyes aprobadas-->
        </section>

        <footer id="pieMemoria" class="row">
            <div class="footer-content">
                <div class="col-sm-6">
                    <ul>
                        <li>
                            <a href="competencia.html">Análisis de la competencia</a>
                        </li>
                        <li>
                            <a href="Alemania.html">Alemania</a>
                        </li>
                        <li>
                            <a href="Finlandia.html">Finlandia</a>
                        </li>
                        <li>
                            <a href="Francia.html">Francia</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul>
                        <li>
                            <a href="Objetivos.html">Objetivos</a>
                        </li>
                        <li>
                            <a href="Implementacion.html">Implementación</a>
                        </li>
                        <li>
                            <a href="Diseño.html">Diseño</a>
                        </li>
                        <li>
                            <a href="about.html">Nosotros</a>
                        </li>
                    </ul>
                </div>
                <div></div>
                <div class="col-sm-12" id="pie">
                    <ul class="list-inline list-unstyled">
                        <li>
                            <p>
                                <a href="https://www.ucm.es/estudios/grado-ingenieriainformatica-plan-803352" target="_blank">Interfaces de Usuario</a>
                            </p>
                        </li>
                        <li>|</li>
                        <li>
                            <p>
                                <a href="https://www.ucm.es/" target="_blank">Universidad Complutense de Madrid</a>
                            </p>
                        </li>
                        <li>|</li>
                        <li>
                            <p>2018</p>
                        </li>
                    </ul>


                </div>
            </div>


        </footer>

    </div>

    <!-- Inclusion de librerias utilizadas y ficheros del proyecto-->
    <link rel="stylesheet" href="../public/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/alemania.css">
    <link rel="stylesheet" href="../public/css/ppal.css">
    <script src="../public/vendors/jQuery/jQuery.js"></script>
    <script src="../public/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/js/main.js"></script>
    <!-- End Inclusion de librerias utilizadas y ficheros del proyecto-->
</body>

</html>