<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Congreso de los Diputados</title>
</head>
<body>

    <div class="banner">
        <header>
            <div class="logo hidden-xs">
                <img src="../public/img/cisne.gif" width="80px" height="94px">
            </div>
            
            <!-- /.logo -->
            <!-- busquedaMain -->
            <div class="busquedaMain">
                    <div class="input-group">
                        <input type="text" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                    </div>
            </div>
            <!-- /.busquedaMain -->
        </header>
        <nav>
            <ul class="main-menu hidden-xs hidden-sm">
                <li>
                            <div class="dropdown">
                                    <a data-toggle="dropdown" href="src/competencia/competencia.html">Análisis de la competencia</a>
                                     <div class="dropdown-menu">
                                            <a class="dropdown-item" href="src/competencia/Alemania.html">Alemania</a>
                                            <a class="dropdown-item" href="src/competencia/Finlandia.html">Finlandia</a>
                                            <a class="dropdown-item" href="src/competencia/Francia.html">Francia</a>
                                        </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a data-toggle="dropdown">Objetivos</a>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a data-toggle="dropdown">Implementación</a>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                    <a data-toggle="dropdown">Diseño</a>
                            </div>
                        </li>
                </ul>
        </nav>
    </div>
    
    <div class="main-content">
        <section>

           
            <!-- .subSeccion Estudio de la competencia -->
            <div class="subseccion col-xs-12">
                    <div class="titulo-subseccion row">
                       <h4>Estudio de la competencia</h4>
                    </div>
                    <div class="contenido-subseccion row">
                    <div class="col-xs-12 col-sm-6 col-md-12">
                        <p>Para la realización de esta práctica, hemos llevado a cabo un estudio de varias páginas de Congresos de otros países, de las cuales obtuvimos diferentes ideas y nos permitieron orientarnos a la hora de realizar el trabajo. Las principales web de las que sacamos esta información han sido:</p>
                    </div>
                    </div>
                    <div id="banderas" class="contenido-subseccion row">
                        <div class="col-xs-6 col-sm-6 col-md-4">
                            <a href="src\competencia\Alemania.html"> <img class="img-subseccion" src="../../public/img/alemania.jpg" alt=""> </a>
                            <h5 class="subtitulo-subseccion">Alemania</h4>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-4">
                            <img class="img-subseccion" src="../../public/img/francia.jpg" alt="">
                            <h5 class="subtitulo-subseccion">Francia</h4>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-4">
                            <img class="img-subseccion" src="../../public/img/finlandia.png" alt="">
                            <h5 class="subtitulo-subseccion">Finlandia</h4>
                        </div>
                       
                    </div>
            </div>
            <!-- /.subSeccion Historia y Normas de la Institución -->
        </section>
        <footer>
                <div class="footer-logo">
                    <img src="public/img/log.gif">
                </div>
                <div class="footer-content">
                        <div class="col-xs-3">
                                <h4>Congreso de los Diputados</h4>
                                <a>Plza Cortes No.1-28014-MADRID</a>
                                <a>Aviso Legal</a>
                                <a>Accesibilidad</a>
                             </div>
                             <div class="col-xs-3">
                                 <h4>Información general:</h4>
                                 <a>Tel: 91 390 60 00</a>
                                 <a>Fax: 91 429 87 07</a>
                             </div>
                             <div class="col-xs-3">
                                 <h4>¿Cómo visitar el Congreso?</h4>
                                 <a>Tel: 91 390 65 25 / 26</a>
                                 <a>Fax: 91 390 64 35</a>    
                             </div>
                             <div class="col-xs-3">
                                 <h4>Atención al Ciudadano</h4>
                                 <a>Visitas guiadas de grupos</a>
                                 <a>Consultas por e-mail</a>
                                 <a>Horario de Registro</a>
                             </div>
                </div>
                
        
        </footer>

        
    </div>
    
    



   <!-- Inclusion de librerias utilizadas y ficheros del proyecto-->
    <link rel="stylesheet" href="../public/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/competencia.css">
    <script src="../public/vendors/jQuery/jQuery.js"></script>
    <script src="../public/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/js/main.js"></script>
    <!-- End Inclusion de librerias utilizadas y ficheros del proyecto-->   
</body>

</html>