<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Congreso de los Diputados</title>
</head>

<body>

    <div class="banner">
        <header>
            <div class="logo col-sm-2 hidden-xs">
                <a href="../index.html">
                    <img src="../public/img/cisne.gif" width="80px" height="94px">
                </a>
            </div>
            <div class=" titulo col-sm-10">
                <h1>Análisis de la competencia</h1>
            </div>
        </header>
        <nav>
            <ul class="main-menu hidden-xs hidden-sm">
                <li>
                    <div class=" activo dropdown ">
                        <a href="competencia.html">Análisis de la competencia</a>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="Objetivos.html">Objetivos</a>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="Implementacion.html">Implementación</a>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="Diseño.html">Diseño</a>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="about.html">Nosotros</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <div class="main-content">

        <p class="migas">
            <a href="../index.html">Memoria</a>
            > Competencia
        </p>

        <section>
            <!-- .subSeccion Estudio de la competencia -->
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="contenido-subseccion row">
                    <div class="col-xs-12 col-sm-6 col-md-12">
                        <h3>
                            Estudio de la competencia
                        </h3>
                        <p>Para la realización de esta práctica, hemos llevado a cabo un estudio de varias páginas de Congresos
                            de otros países, de las cuales obtuvimos diferentes ideas y nos permitieron orientarnos a la
                            hora de realizar el trabajo. Las principales web de las que sacamos esta información han sido:</p>
                    </div>
                </div>
            </div>

            <div class="subseccion col-xs-12">
                <!-- <div class="titulo-subseccion row">
                    <h3>
                        <font color="#B29200">Estudio de la competencia</font>
                    </h3>
                </div>
                <div class="contenido-subseccion row">
                    <div class="col-xs-12 col-sm-6 col-md-12">
                        <p>Para la realización de esta práctica, hemos llevado a cabo un estudio de varias páginas de Congresos
                            de otros países, de las cuales obtuvimos diferentes ideas y nos permitieron orientarnos a la
                            hora de realizar el trabajo. Las principales web de las que sacamos esta información han sido:</p>
                    </div>
                </div> -->
                <div id="banderas" class="contenido-subseccion row">
                    <div class="col-xs-6 col-sm-6 col-md-4">
                        <a href="Alemania.html">
                            <img class="img-subseccion" src="../public/img/alemania.jpg" alt="">
                        </a>
                        <a href="Alemania.html">
                            <h4 class="subtitulo-subseccion">Alemania</h4>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4">
                        <a href="Francia.html">
                            <img class="img-subseccion" src="../public/img/francia.jpg" alt="">
                        </a>
                        <a href="Francia.html">
                            <h4 class="subtitulo-subseccion">Francia</h4>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4">
                        <a href="Finlandia.html">
                            <img class="img-subseccion" src="../public/img/finlandia.png" alt="">
                        </a>
                        <a href="Finlandia.html">
                            <h4 class="subtitulo-subseccion">Finlandia</h4>
                        </a>
                    </div>
                    <hr>
                </div>
            </div>
            <!-- /.subSeccion Historia y Normas de la Institución -->
        </section>
        <footer id="pieMemoria" class="row">
            <div class="footer-content">
                <div class="col-sm-6">
                    <ul>
                        <li>
                            <a href="competencia.html">Análisis de la competencia</a>
                        </li>
                        <li>
                            <a href="Alemania.html">Alemania</a>
                        </li>
                        <li>
                            <a href="Finlandia.html">Finlandia</a>
                        </li>
                        <li>
                            <a href="Francia.html">Francia</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul>
                        <li>
                            <a href="Objetivos.html">Objetivos</a>
                        </li>
                        <li>
                            <a href="Implementacion.html">Implementación</a>
                        </li>
                        <li>
                            <a href="Diseño.html">Diseño</a>
                        </li>
                        <li>
                            <a href="about.html">Nosotros</a>
                        </li>
                    </ul>
                </div>
                <div></div>
                <div class="col-sm-12" id="pie">
                    <ul class="list-inline list-unstyled">
                        <li>
                            <p>
                                <a href="https://www.ucm.es/estudios/grado-ingenieriainformatica-plan-803352" target="_blank">Interfaces de Usuario</a>
                            </p>
                        </li>
                        <li>|</li>
                        <li>
                            <p>
                                <a href="https://www.ucm.es/" target="_blank">Universidad Complutense de Madrid</a>
                            </p>
                        </li>
                        <li>|</li>
                        <li>
                            <p>2018</p>
                        </li>
                    </ul>


                </div>
            </div>


        </footer>

    </div>

    <!-- Inclusion de librerias utilizadas y ficheros del proyecto-->
    <link rel="stylesheet" href="../public/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/competencias.css">
    <link rel="stylesheet" href="../public/css/ppal.css">
    <script src="../public/vendors/jQuery/jQuery.js"></script>
    <script src="../public/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/js/main.js"></script>
    <!-- End Inclusion de librerias utilizadas y ficheros del proyecto-->
</body>

</html>