<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Proposiciones de ley</title>

</head>

<body>
    <div class="banner">
        <header>
            <!-- /.redes -->
            <div class="Redes Sociales" id="Redes">
                <div class="col-xs-6 col-sm-6 col-md-2">
                    <a href="https://www.youtube.com/channel/UCT3tvU3bVxOa3ZiVD-B7h9g" target="_blank">
                        <img src="../public/img/youtube.png">
                    </a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-2">
                    <a href="https://www.facebook.com/CongresodelosDiputados/" target="_blank">
                        <img src="../public/img/facebook.png">
                    </a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-2">
                    <a href="https://twitter.com/Congreso_Es" target="_blank">
                        <img src="../public/img/twitter.png">
                    </a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-2">
                    <a href="https://www.instagram.com/congreso_diputados/" target="_blank">
                        <img src="../public/img/instagram.png">
                    </a>
                </div>
            </div>
            <!-- /.redes -->    
            <!-- logo -->
            <div class="logo hidden-xs">
                <a href="portadaCongreso.html">
                    <img src="../public/img/log.gif">
                </a>
            </div>
            <!-- /.logo -->
            <!-- busquedaMain -->
            <div class="busquedaMain">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            <!-- /.busquedaMain -->
        </header>

        <nav>
            <ul class="main-menu hidden-xs hidden-sm">
                <li>
                    <div class="dropdown">
                        <a data-toggle="dropdown">Legislación</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Asuntos tramitados en sesión plenaria</a>
                            <a class="dropdown-item" href="#">Composición en la legislatura</a>
                            <a class="dropdown-item" href="#">Constitución y reglamento</a>
                            <a class="dropdown-item" href="#">Iniciativas y legislativas aprobadas</a>
                            <a class="dropdown-item" href="Leyes.html">Proposiciones de ley</a>
                            <a class="dropdown-item" href="#">Mesa</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a data-toggle="dropdown">Documentación</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Convocatorias y órdenes del día</a>
                            <a class="dropdown-item" href="#">Información institucional y organizativa</a>
                            <a class="dropdown-item" href="#">Normativa, documentos y enlaces</a>
                            <a class="dropdown-item" href="#">Asambleas interparlamentarias</a>
                            <a class="dropdown-item" href="#">Resultados electorales</a>
                            <a class="dropdown-item" href="#">Notas de prensa</a>
                            <a class="dropdown-item" href="#">Oposiciones</a>
                            <a class="dropdown-item" href="#">Información y procedimiento</a>
                            <a class="dropdown-item" href="#">La Corona y Las Cortes Generales</a>
                            <a class="dropdown-item" href="#">Datos abiertos</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a data-toggle="dropdown">España</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Cooperación parlamentaria</a>
                            <a class="dropdown-item" href="#">España</a>
                            <a class="dropdown-item" href="#">Comisiones</a>
                            <a class="dropdown-item" href="#">Conferencia de presidentes de parlamentos de la UE</a>
                            <a class="dropdown-item" href="#">Control de principio de subsidiariedad</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a data-toggle="dropdown">Multimedia</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Catálogo de publicaciones</a>
                            <a class="dropdown-item" href="#">Congreso en directo</a>
                            <a class="dropdown-item" href="#">Biblioteca</a>
                            <a class="dropdown-item" href="#">Fotonoticias</a>
                            <a class="dropdown-item" href="#">Búsqueda avanzada</a>
                            <a class="dropdown-item" href="#">Archivo de audio</a>
                            <a class="dropdown-item" href="#">Búsqueda de publicaciones</a>
                            <a class="dropdown-item" href="#">Acceso a RRSS y direcciones de contacto con diputados en activo</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a data-toggle="dropdown">Acerca de</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Hemiciclo</a>
                            <a class="dropdown-item" href="#">Aviso legal</a>
                            <a class="dropdown-item" href="#">Biblioteca</a>
                            <a class="dropdown-item" href="#">Acceso a las tribunas de público</a>
                            <a class="dropdown-item" href="#">Discursos</a>
                            <a class="dropdown-item" href="#">Cómo investigar en el congreso de los diputados</a>
                            <a class="dropdown-item" href="#">Funciones</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <div class="main-content">
        <section>
            <!-- Parte izquierda: Indice -->
            <aside class="pull-left col-sm-4">
                <a id="legislacion">Legislación</a>
                <div>
                    <div class="sec item-aside-collapse">
                        <span class="glyphicon glyphicon-menu-right flechas" aria-hidden="true"></span>
                        <a>Asuntos tramitados en sesión plenaria</a>
                    </div>
                    <div class="sec item-aside-collapse">
                        <span class="glyphicon glyphicon-menu-right flechas" aria-hidden="true"></span>
                        <a>Composición en la legislatura</a>
                    </div>
                    <div class="sec item-aside-collapse">
                        <span class="glyphicon glyphicon-menu-right flechas" aria-hidden="true"></span>
                        <a>Constitución y reglamento</a>
                    </div>
                    <div class="sec item-aside-collapse">
                        <span class="glyphicon glyphicon-menu-right flechas" aria-hidden="true"></span>
                        <a>Iniciativas y legislativas aprobadas</a>
                    </div>
                    <div class="sec item-aside-collapse">
                        <span class="glyphicon glyphicon-menu-down flechas" aria-hidden="true"></span>
                        <a  href="#collapseLey">Proposiciones de ley</a>

                            <a class="apartadosLey sub">Proposiciones de ley en tramitación</a>
                            <a class="apartadosLey sub">Proposiciones de ley tramitadas</a>
                            <a class="apartadosLey sub" href="Leyes.html" id="pley">Proposiciones de ley sugeridas</a>


                    </div>
                    <div class="sec">
                        <span class="glyphicon glyphicon-menu-right flechas" aria-hidden="true"></span>
                        <a>Mesa</a>
                    </div>
                </div>
            </aside>
            <!-- /.Parte izquierda: Indice -->

            <!-- .subSeccion Tabla-->
            <div class="pull-right col-xs-8" id="listaLeyes">
                <div class="col-xs-12 sugerencias">
                    <h3 class="col-xs-11">Proposiciones de leyes</h3>
                    <!--<a class="glyphicon glyphicon-plus col-sm-1 " id="annadir" data-toggle="modal" data-target="#myModal"></a>-->
                </div>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header" id="cabezaModal">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Nueva proposición de ley</h4>
                      </div>
                      <div class="modal-body" id="cuerpoModal">
                        <form class="form-horizontal">
                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label">Nombre</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" id="inputEmail3" placeholder="Nombre">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputPassword3" class="col-sm-4 control-label">Primer apellido</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" id="inputPassword3" placeholder="Primer apellido">
                            </div>
                          </div>
                            <div class="form-group">
                            <label for="inputArea" class="col-sm-4 control-label">Proposición de ley</label>
                            <div class="col-sm-8">
                              <textarea class="form-control" rows="3" id="inputArea" placeholder="Proposición de ley"></textarea>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" id="botonAceptar">Aceptar</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="sugerencias col-xs-12">
                    <div class="media">
      	                <div class="media-body">
    		                <h4 class="media-heading">Locales Municipales para proyectos de Economía Sostenible y Solidaria (ESS)</h4>
                            <p class="text-right detalles">Por Enrique Martínez</p>
                            <p>Locales Municipales o adquisición de abandonados o no utilizados para desarrollar proyectos ESS en los Distritos, con participación y colaboración ciudadana, fomentado la economía sostenible.
                            Utilizar locales Municipales o adquirir abandonados o en desuso, para desarrollar proyectos ESS, fomentando la participación y la colaboración ciudadana, impulsando la economía sostenible, mejorando la convivencia y las relaciones vecinales, dando la oportunidad de dar vida a las ideas de mucha gente que se quedan en sueños por falta de recursos y apoyos.</p>
                            <p> Se puede crear una Junta de Evaluación Municipal con participación de técnicos del Ayuntamiento y vecinos para valorar los proyectos que puedan ser más viables y que mejor representen a la Economía Social y Sostenible que todos deseamos, por citar algunos: un local para el intercambio y reciclaje de juguetes, disponible todo el año y no sólo en una fecha en Navidad; un local para la venta y/o intercambio de todo tipo de artículos, incluidos los que se guardan en trasteros, dándoles una segunda vida, evitando la acumulación de enseres y fomentando el trueque que es la forma más antigua de comerciar y reciclar; un taller escuela para poder transmitir conocimientos en todo tipo de artes, dar charlas educativas, favoreciendo las relaciones sociales y la recepción de nuevas ideas u opiniones.</p>
                            <p><a class="btn btn-default " href="Leyes.html">Leer menos</a></p>
                            <ul class="list-inline list-unstyled">
  			                    <li><span><i class="glyphicon glyphicon-calendar caracteristicas detalles"></i> 2 días, 8 horas </span></li>
                                <li>|</li>
                                <span class="editable"><i class="glyphicon glyphicon-comment caracteristicas detalles "></i> 2 comentarios</span>
                                <li>|</li>
                                <li class="li-estrellas">
                                    <span class="glyphicon glyphicon-star-empty caracteristicas detalles editable1"></span>
                                    <span class="glyphicon glyphicon-star-empty caracteristicas detalles editable1"></span>
                                    <span class="glyphicon glyphicon-star-empty caracteristicas detalles editable1"></span>
                                    <span class="glyphicon glyphicon-star-empty caracteristicas detalles editable1"></span>
                                    <span class="glyphicon glyphicon-star-empty caracteristicas detalles editable1"></span>
                                </li>
			                </ul>
                        </div>
                    </div>
                </div>
                <div class="sugerencias col-xs-12">
                    <div class="media">
      	                <div class="media-body">
    		                <h4 class="media-heading">Subvenciones en los Centros socioculturales municipales</h4>
                            <p class="text-right detalles">Por David Blanco</p>
                            <p>Para familias sin recursos, subsidios ,desempleo de tod@s l@s integrantes o dependient@s
                                de pensionistas, para su participación,social , creativa, y desahogo emocional familiar...
                            </p>
                            <p><a class="btn btn-default " href="#">Leer más</a></p>
                            <ul class="list-inline list-unstyled">
  			                    <li><span><i class="glyphicon glyphicon-calendar caracteristicas detalles"></i> 2 días, 11 horas </span></li>
                                <li>|</li>
                                <span class="editable"><i class="glyphicon glyphicon-comment caracteristicas detalles "></i> 5 comentarios</span>
                                <li>|</li>
                                <li class="li-estrellas">
                                    <span class="glyphicon glyphicon-star-empty caracteristicas detalles editable1"></span>
                                    <span class="glyphicon glyphicon-star-empty caracteristicas detalles editable1"></span>
                                    <span class="glyphicon glyphicon-star-empty caracteristicas detalles editable1"></span>
                                    <span class="glyphicon glyphicon-star-empty caracteristicas detalles editable1"></span>
                                    <span class="glyphicon glyphicon-star-empty caracteristicas detalles editable1"></span>
                                </li>
			                </ul>
                        </div>
                    </div>
                </div>
                <div class="sugerencias col-xs-12">
                    <div class="media">
      	                <div class="media-body">
    		                <h4 class="media-heading">Ajustar el número de votos para que prospere una propuesta</h4>
                            <p class="text-right detalles">Por Carlos Varela</p>
                            <p>Para que una propuesta prospere es necesario que consiga 27.662 votos en esta plataforma.
                                Pero no todos los barrios son iguales en el uso de las tecnologías o en la participación de los vecinos...
                            </p>
                            <p><a class="btn btn-default " href="DetalleLey2.html">Leer más</a></p>
                            <ul class="list-inline list-unstyled">
  			                    <li><span><i class="glyphicon glyphicon-calendar caracteristicas detalles"></i> 3 días, 2 horas </span></li>
                                <li>|</li>
                                <span class="editable"><i class="glyphicon glyphicon-comment caracteristicas detalles "></i> 3 comentarios</span>
                                <li>|</li>
                                <li class="li-estrellas">
                                    <span class="glyphicon glyphicon-star-empty caracteristicas detalles editable1"></span>
                                    <span class="glyphicon glyphicon-star-empty caracteristicas detalles editable1"></span>
                                    <span class="glyphicon glyphicon-star-empty caracteristicas detalles editable1"></span>
                                    <span class="glyphicon glyphicon-star-empty caracteristicas detalles editable1"></span>
                                    <span class="glyphicon glyphicon-star-empty caracteristicas detalles editable1"></span>
                                </li>
			                </ul>
                        </div>
                    </div>
                </div>
                <div class="sugerencias col-xs-12">
                    <div class="media">
      	                <div class="media-body">
    		                <h4 class="media-heading">Nueva Regulación del Arte Urbano en Madrid</h4>
                            <p class="text-right detalles">Por Frank Delgado</p>
                            <p>Una nueva regulación que ofrezca vías para la expresión del arte urbano en Madrid en equilibrio
                                con el respeto al patrimonio público y privado...
                            </p>

                            <p><a class="btn btn-default " href="#">Leer más</a></p>
                            <ul class="list-inline list-unstyled">
  			                    <li><span><i class="glyphicon glyphicon-calendar caracteristicas detalles"></i> 4 días, 7 horas </span></li>
                                <li>|</li>
                                <span class="editable"><i class="glyphicon glyphicon-comment caracteristicas detalles "></i> 7 comentarios</span>
                                <li>|</li>
                                <li class="li-estrellas">
                                    <span class="glyphicon glyphicon-star-empty caracteristicas detalles editable1"></span>
                                    <span class="glyphicon glyphicon-star-empty caracteristicas detalles editable1"></span>
                                    <span class="glyphicon glyphicon-star-empty caracteristicas detalles editable1"></span>
                                    <span class="glyphicon glyphicon-star-empty caracteristicas detalles editable1"></span>
                                    <span class="glyphicon glyphicon-star-empty caracteristicas detalles editable1"></span>
                                </li>
			                </ul>
                        </div>
                    </div>
                </div>
               


            </div>


            <!-- /.subSeccion Tabla-->

        </section>
        <footer>
            <div class="footer-content">
                <div class="col-xs-3">
                    <h4>Congreso de los Diputados</h4>
                    <a>Plza Cortes No.1-28014-MADRID</a>
                    <a>Aviso Legal</a>
                    <a>Accesibilidad</a>
                </div>
                <div class="col-xs-3">
                    <h4>Información general:</h4>
                    <a>Tel: 91 390 60 00</a>
                    <a>Fax: 91 429 87 07</a>
                </div>
                <div class="col-xs-3">
                    <h4>¿Cómo visitar el Congreso?</h4>
                    <a>Tel: 91 390 65 25 / 26</a>
                    <a>Fax: 91 390 64 35</a>
                </div>
                <div class="col-xs-3">
                    <h4>Atención al Ciudadano</h4>
                    <a>Visitas guiadas de grupos</a>
                    <a>Consultas por e-mail</a>
                    <a>Horario de Registro</a>
                </div>
            </div>



        </footer>

    </div>

<!-- Inclusion de librerias utilizadas y ficheros del proyecto-->
    <link rel="stylesheet" href="../public/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/ppal.css">
    <link rel="stylesheet" href="../public/css/ley.css">
    <script src="../public/vendors/jQuery/jQuery.js"></script>
    <script src="../public/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/js/main.js"></script>
    <!-- End Inclusion de librerias utilizadas y ficheros del proyecto-->

</body>

</html>