<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Congreso de los Diputados</title>
</head>
<body>

    <div class="banner">
        <header>
            <!-- logo -->
           <div class="logo hidden-xs">
                <img src="../public/img/cisne.gif" width="80px" height="94px">
            </div>
             <!-- /.logo -->
            
        </header>
        <nav>
            <ul class="main-menu hidden-xs hidden-sm">
                <li>
                            <div class="dropdown">
                                    <a data-toggle="dropdown" href="competencia.html">Análisis de la competencia</a>
                                     <div class="dropdown-menu">
                                            <a class="dropdown-item" href="Alemania.html">Alemania</a>
                                            <a class="dropdown-item" href="Finlandia.html">Finlandia</a>
                                            <a class="dropdown-item" href="Francia.html">Francia</a>
                                        </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a href="Objetivos.html">Objetivos</a>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a href="Implementacion.html">Implementación</a>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                 <a href="Diseño.html">Diseño</a>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                    <a href="about.html">Nosotros</a>
                            </div>
                        </li>
                </ul>
        </nav>
    </div>
    
   <div class="main-content">
        <section>
            <div class="subseccion col-xs-12">
                <div class="contenido-subseccion row">
                    <div class="col-xs-12 col-sm-6 col-md-12">

                    <h4>Tipografías Utilizadas</h4>
                    <p><font color="grey">
                        Utilizamos una tipografía con serifa para titulares Alegreya y una sin serifa para los textos. 
  
                    </font></p>

                <h4>Paleta de colores</h4>
                    <p><font color="grey">
                        Utilizamos la misma que la página web original porque consideramos que es muy buena.
                    </font></p>
                  
                <h4>Qué hemos utilizado y qué no</h4>
                    <p><font color="grey">
                       Regla de los tres clicks al buscar a un diputado en la web actual, intentamos cumplir las 8 reglas de oro y los formularios cumplen todas las normas.
  
                        
                    </font></p>

                    <h4>Patrones de diseño y contenido-</h4>
                    <p><font color="grey">
                       Deep background Si - la textura del fondo
                       Few hues many values Si- Rojo y dorado de la bandera constitucional
                       Corner Treatments No - Queremos reflejar la seriedad de la web.
                       SI en los formularios para reflejar la informalidad/chispa de las decisiones del pueblo
                       Hairlines Si - refleja seriedad
                       Contrasting font weights No - Usamos dos fuentes tipográficas diferentes 
                       Espaciado amplio para transmitir calma y sobriedad

  
                        
                    </font></p>

                    <h4>Patrones de disposición de contenido </h4>
                    <p><font color="grey">
                       Grid of equals para listar a los senadores,Acordeon Sí para los filtros de búsqueda y ciudadanos. Right Left Alignment Sí en los formularios

                        
                    </font></p>
                <h4>Patrones de navegación</h4>
                    <p><font color="grey">
               
                        Usamos clear entry Points para cumplir objetivos de la web, Scape hatch Sí - Flat Menu No - Para no sobrecargar con el contenido
                        Sitemap Footer - Si debido a que gracias al card sorting tenemos una mejor organización y tenemos el mismo número de elementos.
                        Sig -in tools Si pero sin tools. Login+mis propuestas
                        Breadcrumbs NO - (card sorting)
 
                    </font></p>
                </br><hr>

                    </div>
                </div>
               
            </div>
            <!-- /.subSeccion Últimas leyes aprobadas-->

           
        </section>
        <footer>
                <div class="footer-logo">
                    <img src="public/img/log.gif">
                </div>
                <div class="footer-content">
                        <div class="col-xs-3">
                                <h4>Congreso de los Diputados</h4>
                                <a>Plza Cortes No.1-28014-MADRID</a>
                                <a>Aviso Legal</a>
                                <a>Accesibilidad</a>
                             </div>
                             <div class="col-xs-3">
                                 <h4>Información general:</h4>
                                 <a>Tel: 91 390 60 00</a>
                                 <a>Fax: 91 429 87 07</a>
                             </div>
                             <div class="col-xs-3">
                                 <h4>¿Cómo visitar el Congreso?</h4>
                                 <a>Tel: 91 390 65 25 / 26</a>
                                 <a>Fax: 91 390 64 35</a>    
                             </div>
                             <div class="col-xs-3">
                                 <h4>Atención al Ciudadano</h4>
                                 <a>Visitas guiadas de grupos</a>
                                 <a>Consultas por e-mail</a>
                                 <a>Horario de Registro</a>
                             </div>
                </div>
                
        
        </footer>

        
    </div>
    
    



    <!-- Inclusion de librerias utilizadas y ficheros del proyecto-->
    <link rel="stylesheet" href="../public/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/diseño.css">
    <script src="../public/vendors/jQuery/jQuery.js"></script>
    <script src="../public/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/js/main.js"></script>
    <!-- End Inclusion de librerias utilizadas y ficheros del proyecto-->    
</body>

</html>