<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Congreso de los Diputados</title>
</head>

<body>

    <div class="banner">
        <header>
            <div class="logo col-sm-2 hidden-xs">
                <a href="../index.html">
                    <img src="../public/img/cisne.gif" width="80px" height="94px">
                </a>
            </div>
            <div class=" titulo col-sm-2">
                <h1>Diseño</h1>
            </div>

        </header>
        <nav>
            <ul class="main-menu hidden-xs hidden-sm">
                <li>
                    <div class="dropdown">
                        <a href="competencia.html">Análisis de la competencia</a>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="Objetivos.html">Objetivos</a>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="Implementacion.html">Implementación</a>
                    </div>
                </li>
                <li>
                    <div class="activo dropdown">
                        <a href="Diseño.html">Diseño</a>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="about.html">Nosotros</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <div class="main-content">

        <p class="migas">
            <a href="../index.html">Memoria</a>
            > Diseño
        </p>

        <section>
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="contenido-subseccion row">
                    <div class="col-xs-12 col-sm-6 col-md-12">

                        <h3>
                            Tipografías Utilizadas
                        </h3>
                        <p>
                            Utilizamos una tipografía con serifa para textos y titulares porque consideramos que transmite sobriedad y clasicismo.
                        </p>

                        <h3>
                            Paleta de colores
                        </h3>
                        <p>
                            Utilizamos la misma que la página web original porque pensamos que no es necesario cambiarla ya que se adecúa perfectamente a nuestro próposito de la web.
                        </p>

                        <h3>
                            Reglas de oro
                        </h3>
                        <p>
                            Cumplimos la regla de los tres clicks a la hora de buscar a un diputado en la web actual. Debido al carácter informativo de nuestra página existen ciertos patrones que no podemos implementar, ya sea el de retroalimentación informativa o el de conducir la finalización(tan presente en las webs de compras), en lo que respecta a lo aplicable a nuestra web intentamos que el usuario tenga una sensación de control plena y que si vuelve a la web recuerde cómo llegar a aquel punto que visitó(memoria a corto plazo). 
                        </p>

                        <h3>
                            Patrones de diseño y contenido
                        </h3>
                        <p>
                            Tenemos un Deep Background blanco con unas líneas diagonales que Deep background 
                            Nuestro Few hues many values se compone de rojo y dorado de la bandera constitucional basados
                            en los colores originales de la página del Congreso de los Diputados.</p>
                            <p>No aplicamos Corner Treatments, ya quequeremos reflejar la seriedad de la web. La parte
                                informal se encuentra en los formularios de participación ciudadana, queriendo emular en
                                cierta forma a la web del Ayundamiento de Madrid https://decide.madrid.es/</p>
                            <p>También hemos aplicado el patrón Hairlines para reflejar seriedad en nuestra página web.
                                Por contra no hemos querido utilizar Contrasting font weights ya que sólo utilizamos una fuente tipográfica.</p>
                        </p>

                        <h3>
                            Patrones de disposición de contenido
                        </h3>
                        <p>
                            Hacemos gala del patrón Grid of equals a la hora de mostrar a nuestros diputados. Para los
                            formularios de participación ciuddana aplicamos Right Left Alignment. </p>
                        
                        <h3>
                            Patrones de navegación
                        </h3>
                        <p>
                            Usamos clear entry Points para cumplir los objetivos de la web. En todo momento está presente
                            el patrón Scape hatch con el logo del Congreso o bien el de la Complutense.</p>
                            <p>No hemos querido utilizar el patrón Flat Menu para no sobrecargar con el contenido. Por contra,
                                gracias al card sorting tenemos una mejor organización de nuestra página web y el Sitemap Footer
                                tiene especial relevancia. Por último, hacemos uso del patrón Breadcrumbs en la memoria en el
                                momento en el que avanzamos más de un nivel dentro de una jerarquía para que el usuario no
                                pierda la sensacion de control en ningún momento.
                            </p>
                        </p>
                        </br>
                        <hr>

                    </div>
                </div>

            </div>
            <!-- /.subSeccion Últimas leyes aprobadas-->

        </section>
        <footer id="pieMemoria" class="row">
            <div class="footer-content">
                <div class="col-sm-6">
                    <ul>
                        <li>
                            <a href="competencia.html"><b>Análisis de la competencia</b></a>
                        </li>
                        <li>
                            <a href="Alemania.html">Alemania</a>
                        </li>
                        <li>
                            <a href="Finlandia.html">Finlandia</a>
                        </li>
                        <li>
                            <a href="Francia.html">Francia</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul>
                        <li>
                            <a href="Objetivos.html"><b>Objetivos</b></a>
                        </li>
                        <li>
                            <a href="Implementacion.html"><b>Implementación</b></a>
                        </li>
                        <li>
                            <a href="Diseño.html"><b>Diseño</b></a>
                        </li>
                        <li>
                            <a href="about.html"><b>Nosotros</b></a>
                        </li>
                    </ul>
                </div>
                <div></div>
                <div class="col-sm-12" id="pie">
                    <ul class="list-inline list-unstyled">
                        <li>
                            <p>
                                <a href="https://www.ucm.es/estudios/grado-ingenieriainformatica-plan-803352" target="_blank">Interfaces de Usuario</a>
                            </p>
                        </li>
                        <li>|</li>
                        <li>
                            <p>
                                <a href="https://www.ucm.es/" target="_blank">Universidad Complutense de Madrid</a>
                            </p>
                        </li>
                        <li>|</li>
                        <li>
                            <p>2018</p>
                        </li>
                    </ul>


                </div>
            </div>


        </footer>


    </div>


    <!-- Inclusion de librerias utilizadas y ficheros del proyecto-->
    <link rel="stylesheet" href="../public/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/diseño.css">
    <link rel="stylesheet" href="../public/css/ppal.css">
    <script src="../public/vendors/jQuery/jQuery.js"></script>
    <script src="../public/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/js/main.js"></script>
    <!-- End Inclusion de librerias utilizadas y ficheros del proyecto-->
</body>

</html>