<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Congreso de los Diputados</title>
</head>

<body>

    <div class="banner">
        <header>
            <div class="logo col-sm-2 hidden-xs">
                <a href="../index.html">
                    <img src="../public/img/cisne.gif" width="80px" height="94px">
                </a>
            </div>
            <div class=" titulo col-sm-2">
                <h1>Finlandia</h1>
            </div>

        </header>
        <nav>
            <ul class="main-menu hidden-xs hidden-sm">
                <li>
                    <div class=" activo dropdown">
                        <a href="competencia.html">Análisis de la competencia</a>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="Objetivos.html">Objetivos</a>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="Implementacion.html">Implementación</a>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="Diseño.html">Diseño</a>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="about.html">Nosotros</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <div class="main-content">
        <section>
            <div class="subseccion col-xs-12">
                <a href="https://www.eduskunta.fi/fi/Sivut/default.aspx" target="_blank">
                    <img src="../public/img/logoFinlandia.png" height="120">
                </a>
                <div class="contenido-subseccion row">
                    <div class="col-xs-12 col-sm-6 col-md-12">
                        <h3>Patrones de diseño</h3>

                        <p>
                            <font color="grey">
                                Su paleta de colores tiene todos los colores en el título, luego predomina el gris claro. Utiliza tipografías Segoe UI Semilight,Segoe
                                UI,Tahoma,Helvetica,Arial y sans-serif.Su espaciado es amplio y sus ángulos rectos. Carece
                                de texturas.
                            </font>
                        </p>


                        <h3>Estética y contenido</h3>
                        <p>
                            <font color="grey">
                                Utiliza
                                <i>deep background</i>, no aplica
                                <i>corner treatments</i> ni
                                <i>hairlines</i>. Utiliza todo el pantone de colores
                            </font>
                        </p>

                        <h3>Navegación</h3>
                        <p>
                            <font color="grey">
                                No hace uso de los patrones de navegación
                                <i>Clear Entry Points</i>ni
                                <i>Sign-in Tools</i>por carecer de formularios. El patrón
                                <i>Scape Hatch</i> es notorio, no dispone de
                                <i>Fat Menu</i> y el patrón
                                <i>BreadCrumbs</i> no es necesario debido a que sólo tiene dos niveles de profundidad. Lo más
                                negativo es su desastroso
                                <i>Sitemap Footer</i>
                            </font>
                        </p>
                        <h3>Disposición del contenido</h3>
                        <p>
                            <font color="grey">

                                No existe
                                <i>Grid of equals</i> en ninguna parte de la página, no se usa
                                <i>acordeon</i> y al carecer de formularios,
                                <i>left-right alignment</i> no puede ser aplicado.
                            </font>
                        </p>
                        </br>
                        <hr>

                    </div>
                </div>

            </div>

            <!-- /.subSeccion Últimas leyes aprobadas-->

        </section>
        <footer>
        </footer>

    </div>


    <!-- Inclusion de librerias utilizadas y ficheros del proyecto-->
    <link rel="stylesheet" href="../public/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/finlandia.css">
    <script src="../public/vendors/jQuery/jQuery.js"></script>
    <script src="../public/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/js/main.js"></script>
    <!-- End Inclusion de librerias utilizadas y ficheros del proyecto-->
</body>

</html>