<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Congreso de los Diputados</title>
</head>

<body>
    <div class="banner">
        <header>
            <div class="logo col-sm-2 hidden-xs">
                <a href="../index.html">
                    <img src="../public/img/cisne.gif" width="80px" height="94px">
                </a>
            </div>
            <div class=" titulo col-sm-2">
                <h1>Implementación</h1>
            </div>

        </header>
        <nav>
            <ul class="main-menu hidden-xs hidden-sm">
                <li>
                    <div class="dropdown">
                        <a href="competencia.html">Análisis de la competencia</a>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="Objetivos.html">Objetivos</a>
                    </div>
                </li>
                <li>
                    <div class="activo dropdown">
                        <a href="Implementacion.html">Implementación</a>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="Diseño.html">Diseño</a>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="about.html">Nosotros</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <div class="main-content">
        <section>
            <div class="subseccion col-xs-12">

                <div class="contenido-subseccion row">

                    <div class="col-xs-12 col-sm-6 col-md-12">

                         <h3><font color="#B29200">Página de inicio</font></h3>

                        <p>
                            <font color="grey">
                                Captura y enlace de la página de inicio
                            </font>
                        </p>


                         <h3><font color="#B29200">Formularios de propuestas de ley</font></h3>
                        <p>
                            <font color="grey">
                                Captura y enlace de los formularios
                            </font>
                        </p>

                         <h3><font color="#B29200">Grid of equals de la composición de partidos políticos</font></h3>
                        <p>
                            <font color="grey">
                                Captura y enlace del grid of equals

                            </font>
                        </p>

                        </br>
                        <hr>
                    </div>
                </div>
            </div>
            <!-- /.subSeccion Últimas leyes aprobadas-->

        </section>
        <footer>

        </footer>

    </div>


    <!-- Inclusion de librerias utilizadas y ficheros del proyecto-->
    <link rel="stylesheet" href="../public/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/implementacion.css">
    <script src="../public/vendors/jQuery/jQuery.js"></script>
    <script src="../public/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/js/main.js"></script>
    <!-- End Inclusion de librerias utilizadas y ficheros del proyecto-->
</body>

</html>