<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Proposiciones de ley</title>

</head>

<body>
    <div class="banner">
        <header>
            <!-- logo -->
            <div class="logo hidden-xs">
                <a href="portadaCongreso.html">
                    <img src="../public/img/log.gif">
                </a>
            </div>
            <!-- /.logo -->
            <!-- busquedaMain -->
            <div class="busquedaMain">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            <!-- /.busquedaMain -->
        </header>

        <nav>
            <ul class="main-menu hidden-xs hidden-sm">
                <li>
                    <div class="dropdown">
                        <a data-toggle="dropdown">Legislación</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Asuntos tramitados en sesión plenaria</a>
                            <a class="dropdown-item" href="#">Composición en la legislatura</a>
                            <a class="dropdown-item" href="#">Constitución y reglamento</a>
                            <a class="dropdown-item" href="#">Iniciativas y legislativas aprobadas</a>
                            <a class="dropdown-item" href="#">Proposiciones de ley</a>
                            <a class="dropdown-item" href="#">Mesa</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a data-toggle="dropdown">Documentación</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Convocatorias y órdenes del día</a>
                            <a class="dropdown-item" href="#">Información institucional y organizativa</a>
                            <a class="dropdown-item" href="#">Normativa, documentos y enlaces</a>
                            <a class="dropdown-item" href="#">Asambleas interparlamentarias</a>
                            <a class="dropdown-item" href="#">Resultados electorales</a>
                            <a class="dropdown-item" href="#">Notas de prensa</a>
                            <a class="dropdown-item" href="#">Oposiciones</a>
                            <a class="dropdown-item" href="#">Información y procedimiento</a>
                            <a class="dropdown-item" href="#">La Corona y Las Cortes Generales</a>
                            <a class="dropdown-item" href="#">Datos abiertos</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a data-toggle="dropdown">España</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Cooperación parlamentaria</a>
                            <a class="dropdown-item" href="#">España</a>
                            <a class="dropdown-item" href="#">Comisiones</a>
                            <a class="dropdown-item" href="#">Conferencia de presidentes de parlamentos de la UE</a>
                            <a class="dropdown-item" href="#">Control de principio de subsidiariedad</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a data-toggle="dropdown">Multimedia</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Catálogo de publicaciones</a>
                            <a class="dropdown-item" href="#">Congreso en directo</a>
                            <a class="dropdown-item" href="#">Biblioteca</a>
                            <a class="dropdown-item" href="#">Fotonoticias</a>
                            <a class="dropdown-item" href="#">Búsqueda avanzada</a>
                            <a class="dropdown-item" href="#">Archivo de audio</a>
                            <a class="dropdown-item" href="#">Búsqueda de publicaciones</a>
                            <a class="dropdown-item" href="#">Acceso a RRSS y direcciones de contacto con diputados en activo</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a data-toggle="dropdown">Acerca de</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Hemiciclo</a>
                            <a class="dropdown-item" href="#">Aviso legal</a>
                            <a class="dropdown-item" href="#">Biblioteca</a>
                            <a class="dropdown-item" href="#">Acceso a las tribunas de público</a>
                            <a class="dropdown-item" href="#">Discursos</a>
                            <a class="dropdown-item" href="#">Cómo investigar en el congreso de los diputados</a>
                            <a class="dropdown-item" href="#">Funciones</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <div class="main-content">
        <section>
            <!-- Parte izquierda: Indice -->
            <aside class="pull-left col-sm-4">
                <a id="legislacion">Legislación</a>
                <div>
                    <div class="sec item-aside-collapse">
                        <span class="glyphicon glyphicon-menu-right flechas" aria-hidden="true"></span>
                        <a>Asuntos tramitados en sesión plenaria</a>
                    </div>
                    <div class="sec item-aside-collapse">
                        <span class="glyphicon glyphicon-menu-right flechas" aria-hidden="true"></span>
                        <a>Composición en la legislatura</a>
                    </div>
                    <div class="sec item-aside-collapse">
                        <span class="glyphicon glyphicon-menu-right flechas" aria-hidden="true"></span>
                        <a>Constitución y reglamento</a>
                    </div>
                    <div class="sec item-aside-collapse">
                        <span class="glyphicon glyphicon-menu-right flechas" aria-hidden="true"></span>
                        <a>Iniciativas y legislativas aprobadas</a>
                    </div>
                    <div class="sec item-aside-collapse">
                        <span class="glyphicon glyphicon-menu-down flechas" aria-hidden="true"></span>
                        <a  href="#collapseLey">Proposiciones de ley</a>

                            <a class="apartadosLey sub">Proposiciones de ley en tramitación</a>
                            <a class="apartadosLey sub">Proposiciones de ley tramitadas</a>
                            <a class="apartadosLey sub" id="pley">Proposiciones de ley sugeridas</a>


                    </div>
                    <div class="sec">
                        <span class="glyphicon glyphicon-menu-right flechas" aria-hidden="true"></span>
                        <a>Mesa</a>
                    </div>
                </div>
            </aside>
            <!-- /.Parte izquierda: Indice -->

            <!-- .subSeccion Tabla-->
            <div class="pull-right col-xs-8" id="listaLeyes">
                <div class="col-xs-12 sugerencias">
                    <h3 class="col-xs-11">Proposiciones de leyes</h3>
                    
                </div>
                <!-- Modal -->
                
                <div class="sugerencias col-xs-12">
                    <div class="media">
      	                <div class="media-body">
    		                <h4 class="media-heading">Ajustar el número de votos para que prospere una propuesta</h4>
                            <p class="text-right detalles">Por Carlos Varela</p>
                            <p>Para que una propuesta prospere es necesario que consiga 27.662 votos en esta plataforma. Pero no todos los barrios son iguales en el uso de las tecnologías o en la participación de los vecinos.
                            Factores culturales, económicos, la edad (niños, ancianos), o la inmigración, por ejemplo, determinan un mayor o menor número de personas que tienen acceso a Internet, que conocen esta plataforma y que se implican en las propuestas ciudadanas para mejorar la calidad de nuestros barrios. Creo que pedir 27.662 votos a cada propuesta, un número fijo, independientemente de en qué barrio se presente, no es un requisito que garantice la igualdad de todos los ciudadanos. Algunas propuestas nos interesan a todos, pero otras son de interés exclusivo para cada barrio, y sólo las votará la gente del barrio con acceso a Internet y con cierto interés en la participación en la gestión del presupuesto del Ayuntamiento para mejorar su entorno. 
                            </p>
                            <p>El número de habitantes por barrios es muy variado (De 238.000 Fuencarral-El Pardo a 47.000 Barajas). Hay distritos con un elevado número de inmigrantes (Usera el 19% de su población), otros con una media de edad alta o muy alta (Moratalaz el 47,6% de la población, menos de la mitad, tiene entre 15 y 65 años). Es fácil deducir de ello que en unos barrios es más difícil alcanzar los 27.662 votos de una propuesta que en otros, por tener un número de habitantes más reducido o por el elevado índice de población que no tiene acceso a las tecnologías para poder votar una propuesta, o que tiene escaso o nulo interés o posibilidad de participar en la vida política de su barrio.
                            </p>
                            <p>Por ello creo que se deberían tener en cuenta estos factores y establecer un número de votos mínimo para aceptar una propuesta que sea proporcional a las características demográficas de cada distrito, de manera que la brecha digital no suponga una desventaja para algunos barrios a la hora de tener en cuenta la opinión y las propuestas de sus vecinos.
                            </p>
                            <ul class="list-inline list-unstyled">
  			                    <li><span><i class="glyphicon glyphicon-calendar caracteristicas detalles"></i> 3 días, 2 horas </span></li>
                                <li>|</li>
                                <span class="editable"><i class="glyphicon glyphicon-comment caracteristicas detalles "></i> 3 comentarios</span>
                                <li>|</li>
                                <li class="li-estrellas">
                                    <span class="glyphicon glyphicon-star-empty caracteristicas detalles editable1"></span>
                                    <span class="glyphicon glyphicon-star-empty caracteristicas detalles editable1"></span>
                                    <span class="glyphicon glyphicon-star-empty caracteristicas detalles editable1"></span>
                                    <span class="glyphicon glyphicon-star-empty caracteristicas detalles editable1"></span>
                                    <span class="glyphicon glyphicon-star-empty caracteristicas detalles editable1"></span>
                                </li>
			                </ul>
                        </div>
                    </div>
                </div>
                



            </div>


            <!-- /.subSeccion Tabla-->

        </section>
        <footer>
            <div class="footer-logo">
                <img src="../public/img/log.gif">
            </div>
            <div class="footer-content">
                <div class="col-xs-3">
                    <h4>Congreso de los Diputados</h4>
                    <a>Plza Cortes No.1-28014-MADRID</a>
                    <a>Aviso Legal</a>
                    <a>Accesibilidad</a>
                </div>
                <div class="col-xs-3">
                    <h4>Información general:</h4>
                    <a>Tel: 91 390 60 00</a>
                    <a>Fax: 91 429 87 07</a>
                </div>
                <div class="col-xs-3">
                    <h4>¿Cómo visitar el Congreso?</h4>
                    <a>Tel: 91 390 65 25 / 26</a>
                    <a>Fax: 91 390 64 35</a>
                </div>
                <div class="col-xs-3">
                    <h4>Atención al Ciudadano</h4>
                    <a>Visitas guiadas de grupos</a>
                    <a>Consultas por e-mail</a>
                    <a>Horario de Registro</a>
                </div>
            </div>



        </footer>

    </div>

<!-- Inclusion de librerias utilizadas y ficheros del proyecto-->
    <link rel="stylesheet" href="../public/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/ppal.css">
    <link rel="stylesheet" href="../public/css/ley.css">
    <script src="../public/vendors/jQuery/jQuery.js"></script>
    <script src="../public/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/js/main.js"></script>
    <!-- End Inclusion de librerias utilizadas y ficheros del proyecto-->

</body>

</html>