<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Congreso de los Diputados</title>
</head>

<body>

    <div class="banner">
        <header>
            <div class="logo col-sm-2 hidden-xs">
                <a href="../index.html">
                    <img src="../public/img/cisne.gif" width="80px" height="94px">
                </a>
            </div>
            <div class=" titulo col-sm-2">
                <h1>Objetivos</h1>
            </div>
        </header>

        <nav>
            <ul class="main-menu hidden-xs hidden-sm">
                <li>
                    <div class="dropdown">
                        <a href="competencia.html">Análisis de la competencia</a>
                    </div>
                </li>
                <li>
                    <div class=" activo">
                        <a href="Objetivos.html">Objetivos</a>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="Implementacion.html">Implementación</a>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="Diseño.html">Diseño</a>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="about.html">Nosotros</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <div class="main-content">

        <p class="migas">
            <a href="../index.html">Memoria</a>
            > Objetivo
        </p>

        <section>
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="contenido-subseccion row">
                    <div class="col-xs-12 col-sm-6 col-md-12">
                        <h3>
                            Objetivo de la página
                        </h3>
                        <p>
                            El objetivo de nuestra página es poder obtener información, ya sea consultar senadores, leyes y proposiciones de ley ya aprobadas
                            o proposiciones para futuros plenos. También cubrimos el objetivo del feedback con la página,
                            podemos enviar propuestas de ley, consulta de otras propuestas o votar propuestas de otra gente.
                        </p>

                        <h3>
                            Público al que va dirigido
                        </h3>
                        <p>
                            Nuestra página va dirigida a ciudadanos con interés en la política ciudadana,periodistas y organismos públicos.
                        </p>
                        </br>
                        <hr>
                    </div>
                </div>

            </div>
            <!-- /.subSeccion Últimas leyes aprobadas-->
        </section>
        <footer id="pieMemoria" class="row">
            <div class="footer-content">
                <div class="col-sm-6">
                    <ul>
                        <li>
                            <a href="competencia.html"><b>Análisis de la competencia</b></a>
                        </li>
                        <li>
                            <a href="Alemania.html">Alemania</a>
                        </li>
                        <li>
                            <a href="Finlandia.html">Finlandia</a>
                        </li>
                        <li>
                            <a href="Francia.html">Francia</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul>
                        <li>
                            <a href="Objetivos.html"><b>Objetivos</b></a>
                        </li>
                        <li>
                            <a href="Implementacion.html"><b>Implementación</b></a>
                        </li>
                        <li>
                            <a href="Diseño.html"><b>Diseño</b></a>
                        </li>
                        <li>
                            <a href="about.html"><b>Nosotros</b></a>
                        </li>
                    </ul>
                </div>
                <div></div>
                <div class="col-sm-12" id="pie">
                    <ul class="list-inline list-unstyled">
                        <li>
                            <p>
                                <a href="https://www.ucm.es/estudios/grado-ingenieriainformatica-plan-803352" target="_blank">Interfaces de Usuario</a>
                            </p>
                        </li>
                        <li>|</li>
                        <li>
                            <p>
                                <a href="https://www.ucm.es/" target="_blank">Universidad Complutense de Madrid</a>
                            </p>
                        </li>
                        <li>|</li>
                        <li>
                            <p>2018</p>
                        </li>
                    </ul>


                </div>
            </div>


        </footer>


    </div>


    <!-- Inclusion de librerias utilizadas y ficheros del proyecto-->
    <link rel="stylesheet" href="../public/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/objetivos.css">
    <link rel="stylesheet" href="../public/css/ppal.css">
    <script src="../public/vendors/jQuery/jQuery.js"></script>
    <script src="../public/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/js/main.js"></script>
    <!-- End Inclusion de librerias utilizadas y ficheros del proyecto-->
</body>

</html>